body {
  min-height: 100vh;
  background: linear-gradient(
    to top right,
    #999999 50%,
    #ffffff 100%
  );
  font-family: "Figtree", sans-serif;
}

/* CENTER SCREEN */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CARD */
#box1 {
  background-color: #0F172A;
  border-radius: 30px;
  width: 380px;
  padding: 32px;
  color: white;
  box-shadow: 0 25px 40px rgba(0,0,0,.35);
}
/* TITLE */
.title {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.subtitle {
  margin-top: 6px;
  margin-bottom: 25px;
  font-size: 11px;
  color: #cbd5e1;
  line-height: 1.5;
  text-align: center;
}

/* FIELD */
.field {
  margin-bottom: 14px;
}

.field label {
  display: block;
  font-size: 12px;
  margin-bottom: 6px;
  color: #e5e7eb;
}

.field input:hover {
  background-color: #999999;
}

.field input:focus {
  outline: none;
}

/* INPUT */
input[type="email"],
input[type="password"] {
  border: none;
  width: 93.5%;
  background-color: white;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
}

/* REMEMBER + FORGOT */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  margin: 14px 0 20px;
}
.row label {
  display: flex;
  align-items: center;
  gap: 4px;
}
.row input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.row input[type="checkbox"]:hover {
  background-color: #999999;
  cursor: pointer;
}
.row a {
  color: #4d7cff;
  text-decoration: none;
}

.row a:hover {
  text-decoration: underline;
}
/* BUTTONS */
.btn {
  width: 100%;
  padding: 13px;
  border-radius: 12px;
  border: none;
  font-size: 13px;
  cursor: pointer;
}

.primary {
  background-color: #1e3cff;
  color: white;
  font-weight: 600;
  margin-bottom: 12px;
}

.primary:hover {
  background-color: #012da5;
}

.google {
  border: 1px solid white;
  color: white;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.google:hover {
  background-color: #999999;
  color: #0F172A;
}

.google_icon {
  font-size: 18px;
}


/* FOOTER */
.footer_text {
  margin-top: 18px;
  text-align: center;
  font-size: 11px;
}

.footer_text a {
  color: #4d7cff;
  text-decoration: none;
}

.footer_text a:hover {
  text-decoration: underline;
}