.container {
  background: linear-gradient(
    to top right,
    #999999 50%,
    #ffffff 100%
  );
  font-family: "Figtree";
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

#box1 {
    background-color: #0F172A;
    border-radius: 30px;
    display: inline-block;
    min-width: 400px;
    width: 600px;
    max-width: 800px;
    min-height: 400px;
    height: 450px;
    max-height: 600px;
    color: white;
}

#icon {
    min-width: 125px;
    width: 175px;
    max-width: 200px;
    min-height: 125px;
    height: 175px;
    max-height: 200px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}

#profile_icon {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profile_icon:hover {
    opacity: 0.5;
}

#title {
    text-align: center;
    margin-top: 25px;
}

#username {
    border-bottom: 1px solid white;
    display: inline-block;
    position: relative;
    left: 14%;
    bottom: 8%;
}

#username:hover {
    text-shadow: 0 0 5px #999999;
}

#edit_username {
    font-size: medium;
    font-weight: normal;
    cursor: pointer;
}

#edit_username:hover {
    color: #999999;
}

#edit_icon {
    position: absolute;
    font-size: 40px;
    left: 36%;
    top: 36%;
    opacity: 0.0;
}

#icon:hover #edit_icon {
    opacity: 1.0;
}

#box3 {
    display: inline-block;
}

.input_profile {
    width: 250px;
    border: none;
    background-color: white;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
}

.input_profile:focus {
    outline: none;
}

.input_profile:hover {
    background-color: #999999;
}

.label_profile {
    font-size: 12px;
    font-weight: bold;
}

#box4 {
    cursor: pointer;
    font-family: "M PLUS 1p";
    width: 100px;
    height: 25px;
    background-color: #0000FF;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    position: relative;
    left: 60%;
    top: 10%;
}

#box4:hover {
    background-color: #0000CC;
}

#bio {
    width: 250px;
    border-radius: 10px;
    font-weight: bold;
    height: 40px;
    overflow: auto;
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 12px;
}

#bio:hover {
    background-color: #999999;
}

#box2 {
    width: 200px;
    height: 200px;
    position: relative;
    margin-top: 20px;
    margin-left: 12%;
}

#box5 {
    display: flex;
    flex-direction: row;
    position: relative;
}