/* PAGE */
.container {
  min-height: 100vh;
  background: linear-gradient(
    to top right,
    #999999 50%,
    #ffffff 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Figtree", sans-serif;
}

/* CARD */
#box1 {
  background: #0f172a;
  width: 380px;
  padding: 32px;
  padding-top: 8px;
  border-radius: 28px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.35);
  color: white;
}

/* TITLE */
.title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

/* FIELD */
.field {
  margin-bottom: 14px;
}

.field label {
  display: block;
  font-size: 12px;
  margin-bottom: 6px;
  color: #e5e7eb;
}

/* INPUT */
.field input {
  width: 93.5%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  font-weight: 600;
}

.field input:focus {
  outline: none;
}

.field input:hover {
  background-color: #999999;
}

/* CHECKBOX */
.row {
  margin: 16px 0 20px;
}

.row input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.remember {
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* BUTTON BASE */
.btn {
  width: 100%;
  padding: 13px;
  border-radius: 12px;
  border: none;
  font-size: 13px;
  cursor: pointer;
}

/* PRIMARY */
.primary {
  background: #1e3cff;
  color: white;
  font-weight: 600;
  margin-bottom: 12px;
}

.primary:hover {
  background: #4d7cff;
  color: #0F172A;
}

/* GOOGLE */
.google {
  background: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.google:hover {
  background-color: #999999;
  color: #0F172A;
}

.google_icon {
  font-size: 18px;
}

/* FOOTER */
.footer_text {
  margin-top: 18px;
  font-size: 11px;
  text-align: center;
}

.footer_text a {
  color: #4d7cff;
  text-decoration: none;
}

.footer_text a:hover {
  text-decoration: underline;
}

@media (max-width: 768px){
  #box1 {
  width: 80vw;
  }
  .title {
  font-size: 20px;
  }
}