.header {
    position: fixed;
    width: 100vw;
    height: 120px;
    background-color: #000000;
}

.icon {
    font-size: 50px;
    color: white;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: right;
    position: relative;
    right: 60px;
    bottom: 46px;
}