body {
    overflow: hidden;
}
.navbar {
    display: flex;
    width: 160px;
    height: 100vh;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000000;
    color: white;
    padding: 10px;
    list-style-type: none;
}

.item {
    margin: 16px 0;
    font-size: 30px;
    cursor: pointer;
    border-bottom: 1px solid white;
    font-weight: 600;
    text-align: left;
}

.home {
    font-size: 30px;
    margin-right: 2px;
}

.task {
    font-size: 30px;
    margin-right: 2px;
}

.notes {
    font-size: 25px;
    margin-right: 2px;
}

.project {
    font-size: 25px;
    margin-right: 2px;
}