body {
    background: linear-gradient(
    to top right,
    #999999 50%,
    #ffffff 100%
  );
    font-family: "Figtree",sans-serif;
    height: 100%;
    margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#box1 {
    background-color: #0F172A;
    border-radius: 30px;
    display: inline-block;
    min-width: 400px;
    width: 600px;
    max-width: 800px;
    min-height: 200px;
    height: 400px;
    max-height: 600px;
    color: white;
}
#icon {
    min-width: 150px;
    width: 200px;
    max-width: 250px;
    min-height: 150px;
    height: 200px;
    max-height: 250px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
#icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title {
    text-align: center;
    margin-top: 25px;
}

#username {
    border-bottom: 2px solid white;
    display: inline-block;
    position: relative;
    left: 15%;
    bottom: 8%;
}

#box3 {
    display: inline-block;
}

input {
    width: 200px;
    border: none;
    background-color: white;
    border-radius: 10px;
    font-size: 8px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
}
label {
    font-size: 8px;
    font-weight: bold;
}

#box4 {
    font-family: "M PLUS 1p";
    width: 80px;
    height: 25px;
    background-color: #0000FF;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    position: relative;
    left: 60%;
    top: 8%;
}

#bio {
    width: 200px;
    border-radius: 10px;
    font-weight: bold;
    height: 20px;
    overflow: auto;
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 8px;
}

#box2 {
    width: 250px;
    height: 250px;
    position: relative;
    margin-left: 12%;
}

#box5 {
    display: flex;
    flex-direction: row;
    position: relative;
}