* {
    margin: 0;
}

#sidebar {
    padding: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100%;
    border-right: 1px solid var(--secondary-color);
}

#sidebarTop {
    border-bottom: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 20px;
}

#sidebarTop ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#sidebarTop li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    padding: 8px;
}

.active {
  background-color: var(--dark-blue);
}

nav {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 0px;
}
#sidebarBottom {
    border-top: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 60px;
}

#sidebarBottom ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    width: 100%;
}

#sidebarBottom li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

#sidebarMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 30px;
}

#sidebarMain ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    gap: 12px;
    width: 100%;
}

#sidebarMain li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#sidebarMain li span {
    display: flex;
    align-items: center;
}

img {
    cursor: pointer;
}