* {
    margin: 0;
}
#pages {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
#pages ul {
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    cursor: pointer;
}

.tabItem {
    list-style: none;
    display: flex;
    align-items: center;
    width: 120px;
    gap: 8px;
    transform: skewX(-20deg); 
    border-right: 1px solid var(--secondary-color);
}

.homeTab {
    list-style: none;
    display: flex;
    align-items: center;
    width: 120px;
    padding: 8px;
    gap: 8px;
    transform: skewX(0deg); 
    border-right: 1px solid var(--secondary-color);
}

.activeTab {
    list-style: none;
    display: flex;
    align-items: center;
    width: 120px;
    gap: 8px;
    transform: skewX(0deg); 
    border-right: 1px solid var(--secondary-color);
}


.tabContent {
    display: flex;
    flex-direction: row;
    max-width: 120px;
    align-items: center;
    gap: 8px;
    transform: skewX(0deg);
    overflow: hidden;
}

.anotherTab {
    display: flex;
    flex-direction: row;
    max-width: 120px;
    align-items: center;
    gap: 8px;
    transform: skewX(20deg);
    overflow: hidden;
}

.exitBtn {
    transform: skewX(20deg);
}